{% extends 'body/main.html' %}
{% load static %}
{% block content %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">PICTURE</th>
      <th scope="col">CATEGORY</th>
      <th scope="col">NAME</th>
      <th scope="col">PRICE</th>
      <th> </th>
    </tr>

  <style>
    .custom-btn {
      background-color: #3F7D7C;
      color: #fff; /* Set text color to white for better contrast */
    }
    .custom-btn:hover {
      background-color: #345e5d; /* Darken the color on hover */
    }
  </style>
  </thead>
  <tbody>
  {% for p in product %}
    {% if p.category == 'jute' %}
    <tr>
      <td><img src = "{{p.image.url}}" style="height:50px ; width:50px"></td>
      <td>{{p.category}}</td>
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>

      <td><a href="{% url 'view_product' p.id %}" class="btn btn-success ">details</a></td>

      <td>

      </td>
    </tr>
   {% endif %}
  {% endfor %}
  </tbody>
</table>

{% endblock %}