<nav class="navbar navbar-expand-lg navbar-dark"style="background-color: #3F7D7C;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/418958708_1480497429257760_3671539961185833263_n.png?stp=dst-png_p206x206&_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFo24lKRhfXaWTFtlb9Z5Fkxx7BFxceJQ7HHsEXFx4lDsrM2nqqxO3PGsJ9d6eOVzevPkctOcPGw8upRCuYJ0bV&_nc_ohc=bJIBkaBwErUAX9YpD6r&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdR3c-WlUeI1sCoUxQYP2U9QGljmqnxmGM3FTujg0L8qKQ&oe=662E70DE" alt="Logo" width="60" height="40" class="d-inline-block align-text-top">
      <b>শৌখিন হাঁট</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">cart</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">orders</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>