{% extends 'body/main.html' %}
{% load static %}
{% block content %}
<style>
  /* Custom CSS to set fixed height for card images */
  .card-img-top {
    height: 150px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the entire space without distortion */
  }
  .custom-card {
    background-color: #f4c1c1; /* Replace #your_color_here with your hexadecimal color code */
    color: #000000; /* Text color to ensure contrast */
    height: 100%; /* Set card height to 100% to maintain consistent size */
  }
</style>
<a href="{% url 'add_product' %}" class="btn custom-btn mb-3 border border-dark border-2">Add Product</a> <!-- Added an "Add Product" button -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for p in product %}
  <div class="col">
    <div class="card custom-card">
      <div class="card-header">{{ p.category }}</div>
      <div class="card-body">
        <img src="{{ p.image.url }}" class="card-img-top" alt="Product Image">
        <hr>
        <h5 class="card-title"><b>{{ p.name }}</b></h5>
        <p class="card-text">Price: {{ p.price }}</p>
        <a href="{% url 'view_product' p.id %}" class="btn btn-success">Details</a>
        <a href="{% url 'edit_product' p.id %}" class="btn custom-btn">Edit</a>
        <button type="button" class="btn btn-danger" onclick="confirmDelete({{ p.id }})">Delete</button>
        <!-- Hidden form for deletion -->
        <form id="deleteForm{{ p.id }}" action="{% url 'delete_product' p.id %}" method="post">
          {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
  {% endfor %}

</div>

<!-- JavaScript for confirmation dialog -->
<script>
  function confirmDelete(productId) {
    var confirmDelete = confirm("Are you sure you want to delete this product?");
    if (confirmDelete) {
      // Submit the form for deletion
      document.getElementById('deleteForm' + productId).submit();
    }
  }
</script>
{% endblock %}
