{% extends 'body/main.html' %}
{% load static %}
{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">PICTURE</th>
      <th scope="col">CATEGORY</th>
      <th scope="col">NAME</th>
      <th scope="col">PRICE</th>
    </tr>
  </thead>
  <tbody>
  {% for p in product %}
    <tr>
      <td><img src = "{{p.image.url}}" style="height:50px ; width:50px"></td>
      <td>{{p.category}}</td>
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}