{% extends 'body/main.html' %}
{% load static %}
{% block content %}

<div class="card">
  <h5 class="card-header"> শৌখিন হাঁট Return/Refund Policy</h5>
  <div class="card-body">
    <h5 class="card-title">policies</h5>
    <p class="card-text">Thank you for shopping at শৌখিন হাঁট ! </p>

<p> We offer refund and/or exchange within the first 24 hours of your purchase, if 24 hours have passed since your purchase, you will not be offered a refund and/or exchange of any kind.</p>

<p> Your item must be unused and in the same condition that you received it </p>

<p> The item must be in the original packaging. </p>

<p> To complete your return, we require a receipt or proof of purchase.</p>

    <p> Only regular priced items may be refunded, sale items cannot be refunded.</p>

<p> If the item in question was marked as a gift when purchased and shipped directly to you, you will receive a gift credit for the value of your return.</p>

<b> Exchanges (if applicable) </b>

<p> We only replace items if they are defective or damaged. If you need to exchange it for the same item, send us an email at <b>shoukhin@gmail.com  </b>and send your item to: (dhaka).</p>
    <a href="#" class="btn btn-primary">Contact Seller</a>
  </div>
</div>

{% endblock %}