{% extends 'body/main.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ product.name }}</h5>
        </div>
        <div class="card-body">
          {% if product.image %}
          <img src="{{ product.image.url }}" alt="Product Image" class="img-fluid mb-3">
          {% else %}
          <p>No Image Available</p>
          {% endif %}
          <p><strong>Category:</strong> {{ product.category }}</p>
          <p><strong>Price:</strong> {{ product.price }}</p>
          <p><strong>Measurements:</strong> {{ product.measurements }}</p>
          <p><strong>Description:</strong> {{ product.description }}</p>
          <p><strong>Stock:</strong> {{ product.stock }}</p>
          <div class="btn-group" role="group">

            <a href="{% url 'product_rating' id=product.id %}" class="btn btn-success mr-2">Rating</a>
            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary">Add to Cart</a>
            <a href="{% url 'orderForm' %}?product_id={{ product.id }}" class="btn btn-warning">Order</a>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
